.portfolio {
  min-height: 100vh;
  
  &__title {
    @include text($ff, 700, 36px, 40px, $white);
    margin-bottom: 40px;
  }
  &__text{
    @include text($ff, 700, 36px, 40px, $white);
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }
  &__card {
    cursor: pointer;
  }
}
._works {
  float: right;
}
.fa-arrow-right {
  color: $bg;
  margin-left: 8px;
}
.direction-reveal__title{
  margin-bottom: 20px;
}
.direction-reveal__text-item{
  position: relative;
  padding-left: 20px;
  &::after{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

  }
}
